/* Each Carousal */
.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 16px;
}

.carousel button {
  display: flex;
  padding: auto;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 50%;
  width: 10%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  font-size: 2rem;

  background-color: #f4a914;
  color: black;
  font-family: "consolas", sans-serif;
  font-weight: bold;

  transition: opacity 150ms ease-in-out, background-color 150ms ease-in-out;
}

.carousel button:hover {
  opacity: 1;
}

.leftArrow {
  left: 10%;
  transform: translate(-50%, -50%);
}

.rightArrow {
  right: 10%;
  transform: translate(50%, -50%);
}

/* The Div that has all the images */
.images {
  display: flex;
  height: 100%;
  transform: translateX(0%);
  max-height: 100%;
  transition: transform 400ms ease-out;
  align-items: center;
}

/* An Individual Image */
.image {
  width: 100%;
  height: 100%;

}
