/* Main Navigation Bar CSS  */
.navBar {
  /* Layout */
  width: 50vw;
  margin-top: 2.5vw;
  padding: 0px 16px;
  position: fixed;
  top: 0;
  left: 25%;
  overflow: hidden;
  z-index: 10;

  /* Flexbox */
  display: flex;
  gap: 7vw;
  justify-content: space-between;
  align-items: center;

  /* Styling */
  border-radius: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  background: linear-gradient(150deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Wish Section */
.wish {
  /* Layout */
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: auto;

  /* Always match this height to the height of collapsed height of navBar found in NavBar.jsx, in the nav with className .navBar */
  height: 60px;

  /* Typography */
  text-align: left;
  font-size: 14px;
  font-weight: 200;
}

/* Navigation Items Section */
.navItems {
  /* Layout */

  display: flex;
  flex: 1;
  height: 100%;
  padding: 10px 0px;
  gap: 1rem;
}

/* Navigation Links */
.navLinks {
  /* Layout */
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

  /* Typography */
  font-size: 16px;
  font-weight: 300;
}

/* "Let's Talk" Button */
.letsTalk {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 22px;
  gap: 10px;

  /* Styling */
  border-radius: 8px;

  /* Typography */
  color: #000;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

/* Mobile Screen Adjustments*/
@media only screen and (max-width: 500px) {
  .navBar {
    /* Layout Adjustments */
    width: 100%;
    height: 16rem;
    left: 0; /*Because its 25% for non mobile*/
    margin-top: 2%;
    padding-bottom: 2%;
    transform: scale(0.96);
    /* To make margin around, idk why just margin is not working*/

    transform-origin: top; /*Otherwise animation is jangy*/

    align-items: flex-start; /*To make the wish stay on top*/

    /* Styling */
    border-radius: 16px;

    /*DropDown Animation */
    transition: height 350ms cubic-bezier(0.68, -0.3, 0.3, 1.3);
  }

  .navItems {
    justify-content: flex-start;
    /* This is flex-end in non mobile */
  }

  .navLinks {
    gap: 0.5rem;
  }

  .navLinks > *,
  .letsTalk {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0.1rem 0.4rem;
    text-align: right;
    padding: 4px 0px 4px 22px;
  }

  .navItems,
  .navLinks {
    /* Making them vertical from horizontal */
    flex-direction: column;
    align-items: flex-end;
  }

  .wish,
  .navLinks,
  .letsTalk {
    font-size: 12px;
  }

  .letsTalk,
  .letsTalk:hover,
  .letsTalk:focus-visible {
    background-color: transparent;
    color: #f4a914;
    border: none;
  }

  /* Hamburger Menu */
  .hamburger {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 40px;
    min-height: 40px;
  }

  /* Hamburger Lines */
  .top,
  .middle,
  .bottom {
    /* Styling */
    height: 1px;
    background: white;
    border-radius: 5px;

    /* Layout */
    width: 60%;

    /* Transitions */
    transition: transform 400ms ease-in-out;
  }
  .middle {
    width: 40%;
    transform-origin: left;
  }

  /* Hamburger Animation */
  .topAnimation {
    transform: translateY(10px) rotate(45deg);
  }

  .middleAnimation {
    transform: scaleX(0) translateX(-100px);
  }

  .bottomAnimation {
    transform: translateY(-10px) rotate(-45deg);
  }
}
