.navBar {
  /* Layout */
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  /* Styling */
  border-radius: 12px;
  background: linear-gradient(45deg, #000000b4 0%, #000000e7 84.5%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  color: white;
  backdrop-filter: blur(20px);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.wish {
  /* Good Morning / Evening / etc */
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

.navLinks {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 24px;

  /* Typography */
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

.letsTalk {
  /* Layout */
  display: flex;
  padding: 4px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* Styling */
  border-radius: 8px;

  /* Typography */
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
