/* ------------------------ */
/* Main Navigation Bar CSS  */
/* ------------------------ */
.navBar {
  /* Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 16px;
  margin: 2vw;
  width: 50vw;
  gap: 7vw;
  overflow: hidden;

  /* Functional */
  z-index: 10;

  /* Styling */
  border-radius: 12px;
  background: linear-gradient(45deg, #000000b4 0%, #000000e7 84.5%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  color: white;
  backdrop-filter: blur(20px);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  /* Animation */
  transition: height 200ms ease-in-out;
}

/* ------------------------ */
/* Wish Section (Text)      */
/* ------------------------ */
.wish {
  /* Layout */
  display: flex;
  align-items: center;
  width: 100%;

  /* Functional */
  height: 100%;
  min-height: 100%;

  /* Typography */
  text-align: left;
  font-size: 16px;
  font-weight: 200;

  /* transform: translateY(100px); */
  transition: opacity 200ms ease-in-out, transform 400ms ease-in-out;
}

/* ------------------------ */
/* Navigation Items Section */
/* ------------------------ */
.navItems {
  /* Layout */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

/* ------------------------ */
/* Navigation Links         */
/* ------------------------ */
.navLinks {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 24px;

  /* Typography */
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 275;
  font-style: normal;
  line-height: normal;
}

/* ------------------------ */
/* "Let's Talk" Button      */
/* ------------------------ */
.letsTalk {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 22px;
  gap: 10px;

  /* Styling */
  border-radius: 8px;

  /* Typography */
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

/* ------------------------ */
/* Mobile Screen Adjustments*/
/* ------------------------ */
@media only screen and (max-width: 500px) {
  .navBar {
    /* Layout Adjustments */
    width: 100%;
    height: 270px;
    margin: 0;
    left: 0;
    transform: translateX(0);
    align-items: flex-start;

    /* Styling */
    border-radius: 0 0 8px 8px;
  }

  .navItems,
  .navLinks {
    /* Layout Adjustments */
    flex-direction: column;
    align-items: flex-end;
  }

  .wish,
  .navLinks,
  .letsTalk {
    /* Typography Adjustments */
    font-size: 12px;
  }

  /* ------------------------ */
  /* Hamburger Menu           */
  /* ------------------------ */
  .hamburger {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 40px;
    height: 40px;
  }

  /* Hamburger Lines */
  .top,
  .middle,
  .bottom {
    /* Styling */
    height: 1px;
    background: white;
    border-radius: 5px;

    /* Layout */
    width: 60%;
  }

  .middle {
    width: 40%;
  }
}
